.alumni-holderDiv {
  width: 100%;
  height: max-content;
  font-size: 1em;
}
.alumni-headingDiv {
  height: 70px;
  /* background-color: chartreuse; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.alumni-runnerDiv {
  width: 100%;
  height: 300px;
  background-image: url("../../asserts/certainBackDrop.png");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(3, 15, 177, 0.89);
  background-blend-mode: soft-light;
}
.alumni-runner {
  height: 100%;
  /* background-color: brown; */
  position: absolute;
  left: 0;
  /* z-index: 1; */
  display: flex;
}
.alumni-moveLeft,
.alumni-moveRight {
  position: absolute;
  /* z-index: 1; */
  top: 50%;
  transform: translateY(-50%) rotate(-180deg);
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.alumni-moveRight {
  right: 0;
  transform: translateY(-50%);
}
.alumni-move:active {
  fill: red;
}
.alumniCard-wrapper {
  width: 100%;
  height: 100%;
  /* background-color: lawngreen; */
  display: flex;
}
.alumni-profileDiv {
  height: 100%;
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  /* background-color: crimson; */
}
.alumni-profile {
  width: 150px;
  height: 150px;
  border: 3px solid orange;
  border-radius: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}
/* .alumni-profile::after {
  content: "";
  z-index: 0;
  width: 20%;
  height: 20%;
  border: 5px solid orange;
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 100%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: alumniProfileLoader 1s infinite linear;
} */
.alumni-aboutDiv {
  width: 65%;
  height: 100%;
  /* background-color: burlywood; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
}
.alumni-about {
  text-align: justify;
  font-size: 1em;
  color: white;
  font-family: sans-serif;
}
/* @keyframes alumniProfileLoader {
  100% {
    transform: rotate(360deg);
    border-bottom-color: orange;
    border-right-color: orange;
  }
} */
.alumni-nameDiv {
  display: flex;
  justify-content: center;
}
.alumni-name {
  white-space: normal;
  text-align: center;
  width: 65%;
  color: white;
  font-family: sans-serif;
}
@media (max-device-width: 1100px), (width<1100px) {
  .alumni-moveLeft,
  .alumni-moveRight {
    width: 40px;
    height: 40px;
  }
  .alumniCard-wrapper {
    flex-direction: column;
  }
  .alumni-profileDiv {
    width: 100%;
    height: 250px;
  }
  .alumni-aboutDiv {
    height: 65%;
    width: 100%;
    align-items: flex-start;
    padding: 0 6%;
  }
  .alumni-runnerDiv {
    height: 880px;
  }
  .alumni-moveLeft,
  .alumni-moveRight {
    top: 30%;
  }
}
