.component-title {
    font-family: 'Montserrat', sans-serif !important;
    color: #e67e22;
    font-weight: 700 !important;
    font-size: 24px;
    text-transform: uppercase;
    padding: 16px 0;
    text-align: center;
}

.recruiters-box {
    width: 100%;
}

.recruiters {
    display: grid;
    grid-auto-flow: column;
    overflow: hidden;
}

.recruiters::-webkit-scrollbar {
    display: none;
}

.recruiters img {
    height: 160px; 
    width: 160px;
    border: 1px solid lightgrey;
}