.approval-wrapper {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.approval-contentDiv {
  width: 98%;
}
.approval-h2 {
  color: #e67e22;
  font-family: sans-serif;
  margin: 0 2%;
  white-space: normal;
}
.approval-headingDiv {
  height: 60px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}
.approval-body {
  /* background-color: hotpink; */
  margin: 20px 0;
  padding: 10px 0;
}
.approval-ul {
  width: 99%;
  height: 99%;
  margin: 0 0.5%;
}
.apcard-img {
  width: 80px;
  height: 70px;
}
.apcard-li {
  list-style: none;
  border-radius: 10px;
  box-shadow: 3px 3px 0 black, 0.5px 0.5px 3px inset black;
  margin: 10px 0;
  padding: 10px 0;
  position: relative;
  cursor: pointer;
}
.apcard-li:hover{
     background-color: rgba(47, 19, 205, 0.05);
}
.apcard-info-div::after {
  position: absolute;
  content: "\27A4";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 20px;
  font-size: 20px;
  transition: 0.5s;
}
.apcard-heading {
  color: royalblue;
}
.apcard-info-div {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}
.apcard-list-div,
.apcard-list-ul {
  width: 100%;
  height: max-content;
}
.apcard-list-div {
  position: relative;
  overflow: hidden;
}
.apcard-list-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  margin: 0 5%;
  transform: translateY(-100%);
  position: absolute;
  transition: 0.5s;
}
.apcard-input {
  display: none;
  visibility: hidden;
}
.apcard-list-li {
  list-style: disc;
  font-style: oblique;
  font-weight: bold;
}
.apcard-lable:has(.apcard-input:checked) .apcard-list-ul {
  transform: translateY(0%);
  position: relative;
  transition: 1s;
}
.apcard-lable:has(.apcard-input:checked) .apcard-info-div::after {
  transform: rotate(90deg) translateX(-120%);
}
