.mous-wrapper {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}
.mous-container {
  width: 98%;
  height: max-content;
}
.mous-headingDiv {
  height: 60px;
  display: flex;
  align-items: end;
}
.mous-heading {
  color: orange;
  font-family: sans-serif;
  margin: 0 30px;
}
.mous-body {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.mous-searchDiv {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 30px;
}
.mous-InputWrapper {
     width: 40%;
     height: 100%;
     display: flex;
     border-bottom: 1px solid black;
}
.mous-inputDiv {
  width: 90%;
  height:100%;
}
.mous-input{
     width: 100%;
     height: 100%;
     border: none;
     outline: none;
     font-size: 1.1em;
}
.mous-bodyContents{
     width: 98%;
     height: max-content;
     display: flex;
     justify-content: center;
     align-items: center;
}
.mous-table{
     width: 85%;
     height: max-content;
     background-color: gray;
     font-family: sans-serif;
}
.mous-tdH{
     padding: 0 10px;
}
.mous-thead{
     text-align: center;
     height: 50px;
     background-color: rgb(122, 238, 180);
     font-weight: bolder;
}
.mousCard-td{
     padding: 20px 10px;
}
.mous-tbody{
     background-color: white;
     text-align: center;
}
@media (max-device-width: 1100px),(width<1100px) {
     .mous-bodyContents{
          overflow-x: scroll;
     }
     .mous-bodyContents::-webkit-scrollbar{
          display: none;
     }
     .mous-InputWrapper{
          width: 80%;
     }
}