.sports-container {
  height: 100vh;
  display: flex;
}

.sports-menu-divider {
  height: 1px;
  margin: 14px 16px;
  background-color: lightgray;
  border-width: 0;
}

.sports-menu-title > h4 {
  margin: 0px 0px 7px;
  color: #ffa500;
  font-size: 24px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.sports-menu-icon {
  width: 48px;
  display: flex;
  align-items: center;
}

.sports-menu-section {
  display: flex;
  align-items: center;
  padding: 16px;
  cursor: pointer;
}

.sports-menu-section:hover {
  background-color: rgb(237, 237, 237);
  transition: 0.15s ease-in-out;
  border-left: 3px solid #0000ff;
}

.sports-menu-section-title {
  font-family: sans-serif;
  font-size: 16px;
  color: black;
}

.sports-content {
  left: 266px;
  height: 100vh;
  text-align: left;
  overflow-y: scroll;
  position: absolute;
}

.sports-slider-imgs {
  height: 550px;
  /* display: flex; */
  overflow: hidden;
}

.sports-slider-img {
  height: 550px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.sports-section-title {
  font-size: 20px;
  font-family: sans-serif;
  margin: 0px 0px 16px;
  padding: 3px 0px;
  color: #0000ff;
  text-transform: uppercase;
}

.sports-content-events {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 24px;
}

.sports-events-title {
  padding: 6px 0px;
}

.sports-events-icon {
  display: flex;
  align-items: center;
  transition: 300ms ease-in-out;
}

.sports-events-subtitle {
  font-size: 16px;
  font-family: sans-serif;
  margin: 0px 0px 16px;
}

.sports-subcontent-events-imagebox {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
  padding: 0px 8px;
}

.sports-events-image {
  border-radius: 2%;
  margin: 8px;
  height: 198px;
  width: 298px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.sports-subcontent-events {
  padding: 16px;
  height: fit-content;
}

.sports-events-details {
  cursor: pointer;
  height: fit-content;
  margin-bottom: 1rem;
  transition: height 300ms ease;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

.sports-events-details:not([open]) {
  height: fit-content;
}

.sports-events-details[open] {
  height: fit-content;
}

.sports-events-details[open] > *:not(summary) {
  animation: details-show 150ms ease-in-out;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

.sports-dld-icon {
  display: flex;
  align-items: center;
  padding-right: 32px;
}

.sports-pdf-table {
  padding: 8px 0px;
  margin: 0px 16px;
}

.sports-achievements {
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: black;
  font-family: sans-serif;
  padding: 0px 16px;
  cursor: pointer;
  text-transform: uppercase;
}

.sports-achievements:hover {
  background-color: rgb(224, 224, 224);
  transition: 0.175s ease-in-out;
}

.sports-contact-box {
  padding: 24px 24px 4px;
}

.sports-contact-box > div > img {
  width: 20%;
}

.sports-contact-name {
  font-size: 15px;
  font-family: sans-serif;
  color: #ff9800;
  margin: 0px 0px 16px;
  font-weight: 600;
}

.sports-contact-det {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 600;
  margin: 0px 0px 16px;
  line-height: 1.5;
}

.sports-contact-email {
  text-decoration: none;
  color: #1976d2;
}

.sports-contact-email:hover {
  color: #0d59a5;
}

.sports-press-release {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 16px;
}

.sports-media-box {
  height: 270px;
  width: 250px;
  margin: 8px 0px;
  margin-right: 16px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.sports-media-img {
  height: 214px;
  width: 248px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1.5px solid rgb(213, 213, 213);
}

.sports-media-title {
  text-align: center;
}

.sports-media-title > a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 8px 0px 16px;
  font-size: 16px;
  font-weight: 600;
  color: #1976d2;
  font-family: sans-serif;
}

.sports-media-title > a:hover {
  color: #0d59a5;
}

@media only screen and (max-width: 1010px) {
  .sports-slider-imgs,
  .sports-slider-img {
    height: 250px;
  }

  .sports-menu {
    display: none;
  }

  .sports-content {
    left: 0px;
  }

  .sports-text-content {
    padding: 0px 16px;
  }

  .sports-press-release {
    justify-content: center;
  }

  .sports-achievements {
    font-size: 15px;
  }

  .sports-subcontent-events-imagebox {
    justify-content: center;
  }
}

.accordion {
  width: 100%;
  text-align: start;
  color: #000000de;
  height: fit-content;
  margin-bottom: 1rem;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.accordion-title {
  display: flex;
  cursor: pointer;
  padding: 14.25px 24px;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
}

.accordion-title > span {
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  padding: 2.75px 0px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.accordion-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  transition: 0.5s ease-in-out;
}

.accordion-description {
  max-height: 0px;
  font-size: 16px;
  overflow: hidden;
  font-family: sans-serif;
  transition: 0.5s ease-in-out;
}

.accordion.active .accordion-description {
  padding: 16px;
  max-height: 5000px;
  transition: 0.5s ease-in-out;
}

.accordion.active .accordion-icon {
  transform: rotate(-90deg);
  transition: 0.5s ease-in-out;
}

.acc-desc-p {
  width: 100%;
  margin: 0px 0px 16px;
}

.description-img-box {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 8px;
  margin: 0px -15px;
  align-items: center;
}

.description-img {
  margin: 8px;
  padding-right: 16px;
}

.description-img > img {
  width: 298px;
  height: 198px;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
}

.scroll-menu-divider {
  height: 1px;
  margin: 14px 16px;
  background-color: lightgray;
  border-width: 0;
}

.scroll-menu {
  width: 260px;
  overflow-y: scroll;
}

.scroll-menu-title > h4 {
  margin: 0px 0px 7px;
  color: #ffa500;
  font-size: 24px;
  white-space: nowrap;
  font-family: sans-serif;
  text-transform: uppercase;
}

.scroll-menu-icon {
  width: 41px;
  display: flex;
  align-items: center;
}

.scroll-menu-section {
  display: flex;
  align-items: center;
  padding: 16px;
  cursor: pointer;
}

.scroll-menu-section:hover {
  background-color: rgb(237, 237, 237);
  transition: 0.15s ease-in-out;
  border-left: 3px solid #0000ff;
}

.scroll-menu-section-title {
  color: black;
  font-size: 16px;
  white-space: nowrap;
  font-family: sans-serif;
}

@media only screen and (max-width: 1010px) {
  .scroll-menu {
    display: none;
  }
}

.slider {
  width: 100%;
  height: 550px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.slides {
  white-space: nowrap;
  transition: transform 0.3s;
}

.slide-img-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 550px;
  width: 100%;
}

.slide-img-box > img {
  height: 550px;
  width: 100%;
  object-fit: cover;
}

.slider-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translate(0, -50%);
  fill: white;
  padding: 12px;
  z-index: 1;
  cursor: pointer;
}

.slider-arrows:hover {
  background-color: rgb(0, 0, 0, 0.15);
  transition: 150ms ease-in-out;
}

@media only screen and (max-width: 1010px) {
  .slider,
  .slide-img-box,
  .slide-img-box > img {
    height: 250px;
  }
}
