/* mainBody All Heading class */
.mainHome-runner1-all-Heading {
  color: #e67e22;
  font-family: sans-serif;
}
.svg-move{
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg-trans{
  transform: rotate(180deg);
}
/* mainBody All Heading class */
/* MainHome Runner1 */
.mainHome-wrapper{
  font-size: 1em;
}
.mainHome-runner1-wrapper {
  height: fit-content;
  display: flex;
}
.mainHome-runner1-part1,
.mainHome-runner1-part2 {
  height: 85vh;
}
.mainHome-runner1-part1 {
  width: 65vw;
  display: flex;
  justify-content: center;
  padding-top: 1%;
  /* background-color: black; */
}
.mainHome-runner1-part2 {
  width: 35vw;
  /* background-color: aqua; */
}
.mainHome-runner1-utilityDiv {
  height: 35%;
  /* background-color: blueviolet; */
}
.mainHome-runner1-CC-div,
.mainHome-runner1-utilityBox {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* .mainHome-runner1-CC-div {
  background-color: red;
}
.mainHome-runner1-utilityBox {
  background-color: yellowgreen;
} */
.mainHome-runner1-tneaHolder {
  width: 40%;
  height: 85%;
  background-color: #303f99;
  color: white;
  font-family: sans-serif;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
}
.mainHome-runner1-feesPayDiv,
.mainHome-runner1-admissionsDiv {
  height: 60%;
  border-radius: 5px;
  overflow: hidden;
}
.mainHome-runner1-admissionsDiv {
  width: 30%;
  transition: all 1000ms;
}
.mainHome-runner1-feesPayDiv {
  width: 40%;
  transition: all 1000ms;
}
.mainHome-runner1-admissionsDiv:hover,
.mainHome-runner1-feesPayDiv:hover {
  transform: translateY(-10%);
  transition: all 250ms;
  box-shadow: 3px 3px black;
}
.mainHome-runner1-admissionsDiv:active,
.mainHome-runner1-feesPayDiv:active {
  box-shadow: none;
}
.mainHome-runner1-admissionsLink,
.mainHome-runner1-admissionsButton {
  width: 100%;
  height: 100%;
  background-color: #303f99;
  border: 0;
  outline-color: transparent;
  cursor: pointer;
  color: white;
}
.mainHome-runner1-feespayLink,
.mainHome-runner1-feespayButton {
  width: 100%;
  height: 100%;
  background-color: red;
  border: 0;
  outline-color: transparent;
  cursor: pointer;
  color: white;
}
.mainHome-runner1-feespayButton h2 {
  animation: feespayButtonAni 2s infinite linear;
}
.mainHome-runner1-upcomingEventDiv {
  height: 65%;
  /* background-color: aqua; */
}
.mainHome-runner1-upcomingEvent-Wrapper {
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
}
.mainHome-runner1-upcomingEvent-HeadingDiv {
  height: 15%;
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainHome-runner1-upEv-bodydiv {
  height: 85%;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainHome-runner1-upEv-boxWrapper {
  width: 80%;
  height: 100%;
  /* background-color: azure; */
}
.mainHome-runner1-upEv-box {
  height: 90%;
  border-left: 5px solid orange;
  box-shadow: 1px 1px 10px black inset;
  overflow-y: scroll;
}
.mainHome-runner1-upEv-moreEv-div {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}
.mainHome-runner1-upEv-buttonWrapper {
  width: 25%;
  height: 100%;
  transition: transform 1000ms;
}
.mainHome-runner1-upEv-buttonWrapper:hover {
  transform: scale(1.1);
  transition: transform 250ms;
}
.mainHome-runner1-eventBtn-link,
.mainHome-runner1-eventBtn {
  width: 100%;
  height: 100%;
  background-color: #303f99;
  color: white;
  font-family: sans-serif;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline-color: transparent;
}
.mainHome-runner1-part1-wrapper {
  width: 95%;
  height: 90%;
  box-shadow: 0px 0px 5px black;
  position: relative;
  overflow: hidden;
  /* background-color: aliceblue; */
}
.mainHome-runner1-part1-moveleft,
.mainHome-runner1-part1-moveright {
  width: 5%;
  height: 8%;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.mainRunner-home-svg:hover{
  fill: rgb(255, 0, 0);
}
.mainRunner-home-svg:active
{
  fill: yellow;
}
.mainHome-runner1-part1-moveright {
  right: 0;
}
.mainHome-runner1-contentHolderDiv{
  height: 100%;
  display: flex;
  position: absolute;
  z-index: -1;
  /* background-color: red; */
}
.announcementCard-wrapper{
  width: 100%;
  height: 100%;
  /* background-color: black; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.announcementCard-img{
  max-height: 100%;
  max-width: 100%;
}
.announcementCard-waterMark{
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Upcoming Event */
.upcomingEvent-linkku{
  text-decoration: none;
}
.upcomingEvent-calender{
  width: 75%;
  height: 80%;
  border-radius: 5px;
  border: 2px solid grey;
}
.upcomingEvent-calender-month{
  height: 30%;
  background-color: rgb(4, 4, 136);
  position: relative;
  border-radius: 3px 3px 0 0;
}
.upcomingEvent-calender-date,
.upcomingEvent-calender-month
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.upcomingEvent-calender-date{
  height: 70%;
  position: relative;
}
.upcomingEvent-calender-date::after,
.upcomingEvent-calender-date::before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  border-radius: 5px;
  border-bottom: 2px solid grey;
  bottom: 3%;
  z-index: -1;
}
.upcomingEvent-calender-date::before{
  bottom: -8%;
}
.upcomingEvent-calender-monthSpan{
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  font-family: sans-serif;
}
.upcomingEvent-calender-dateSpan{
  font-size: 2.2em;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
}
.upcomingEvent-box{
  width: 95%;
  height: 100px;
  display: flex;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 2.5%;
}
.upcomingEvent-calanderBox{
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upcomingEvent-infoBox{
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upcomingEvent-infoP,
.announcement-h3
{
  text-align: center;
  color: #303f99;
}
/* Upcoming Event */
/* IA Runner */
.mainHome-IArunner-wrapper{
  width: 100%;
  height: 30vh;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainHome-IArunner-Box{
  width: 95%;
  height:80%;
  /* background-color: lightgreen; */
  overflow: hidden;
}
.mainHome-IArunner-runnerDiv{
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2px;
}
.mainHome-IArunner-runnerDiv::-webkit-scrollbar{
  display: none;
}
.mainhome-ia-runner-imgwrapper-box{
  width: 200px;
  height: 100%;
  /* background-color: yellow; */
  border: 1px solid black;
  position: relative;
}
.mainhome-ia-runner-link{
  height: 100%;
  width: max-content;
}
.mainhome-ia-runner-imgwrapper::after{
position: absolute;
content: '';
width: 30px;
height: 30px;
border: #e67e22 5px solid;
border-bottom-color:transparent ;
inset: 0;
margin: auto;
border-radius: 100px;
animation: iarunnerani 2s infinite;
z-index: -1;
}
@keyframes iarunnerani {
  100%{
    transform: rotate(360deg);
  }
}
.mainhome-ia-runner-img{
  width: 100%;
  height: 100%;
}
.mainHome-IArunner-headingBox{
  width: 95%;
  height: 20%;
  text-align: center;
  /* background-color: cornflowerblue; */
}
.mainHome-IArunner-headingBox h2,
.newCard-theory h2,
.announcement-h3{
  white-space: break-spaces;
}
/* IA Runner */
/* News And About */
.newsandabout-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: palevioletred; */
}
.newsandabout-news1-wrapper,
.newsandabout-about-wrapper,
.newsandabout-news2-wrapper
{
  height: 98%;
}
.newsandabout-aboutCLG{
  width: 100%;
  font-family: sans-serif;
  font-size: 16px;
  padding: 16px;
  text-align: justify;
  font-weight: lighter;
}
.newsandabout-news1-wrapper,
.newsandabout-news2-wrapper{
  /* background-color: cornsilk; */
  width: 20%;
}
.newsandabout-about-wrapper{
  width: 58%;
  /* background-color: gainsboro; */
}
.newsandabout-headingWrapper{
  height: 6%;
  /* background-color: salmon; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsandabout-newsBox{
  height: 94%;
  /* background-color: firebrick; */
  overflow-x: hidden;
  position: relative;
  border: 1.5px solid grey;
  border-radius: 10px;
  left: 0;
  transition: left 0.7s;
}
.newandabout-newrunner{
  display: flex;
  height: 100%;
  position: absolute;
}
.newCard-wrapper{
  width: 100%;
  height: 100%;
  border: 1.5px solid grey;
  border-radius: 10px;
  overflow: hidden;
  /* background-color: pink; */
}
.newCard-img,
.newCard-img img{
   width: 100%;
}
.newCard-heading{
  font-size: 1.4em;
  color: blue;
}
.newCard-para{
  font-size: 15px;
  text-align: justify;
}
.newCard-theory{
  /* background-color: red; */
  padding: 2% 5%;
}
/* News and about */
/* Rec */
.mainHome-recDivWrapper{
  margin: 0;
  min-height: 30vh;
  max-height: max-content;
  /* background-color: red; */
}
/* Rec */
/* Alumni */
.mainHome-alumini-Wrapper{
  width: 100%;
  height: max-content;
  /* background-color: #303f99; */
}
/* Alumni */
/* mainHome Runner 1 */
@keyframes feespayButtonAni {
  0%,
  100%,
  50% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}
@media (max-device-width: 1100px),(width<1100px) {
  .mainHome-runner1-wrapper {
    display: block;
  }
  .mainHome-runner1-part1,
  .mainHome-runner1-part2 {
    width: 100%;
  }
  .mainHome-runner1-part1 {
    height: 400px;
    padding: 0;
  }
  .mainHome-runner1-part2 {
    height: 700px;
  }
  .mainHome-runner1-utilityDiv {
    height: 30%;
  }
  .mainHome-runner1-tneaHolder {
    width: 55%;
  }
  .mainHome-runner1-part1-wrapper {
    height: 90%;
    width: 100%;
  }
  .mainHome-runner1-part1-moveleft,
  .mainHome-runner1-part1-moveright {
    width: 12%;
    height: 12%;
  }
  .mainHome-runner1-part1-moveleft:hover,
  .mainHome-runner1-part1-moveright:hover {background-color: rgba(0, 0, 0, 0);}
  .upcomingEvent-calender{
    width: 85%;
  }
  .upcomingEvent-calender-monthSpan{
    font-size: 0.7em;
  }
  .mainHome-IArunner-wrapper{
    height: 250px;
  }
  .mainHome-IArunner-Box{
    height: 75%;
  }
  .mainHome-IArunner-headingBox{
    height: 25%;
    width: 90%;
  }
  .newsandabout-wrapper{
    flex-direction: column;
    height: fit-content;
  }
  .newsandabout-news1-wrapper{
    display: none;
  }
.newsandabout-about-wrapper
{
  width: 98%;
 height: fit-content;
}
.newsandabout-news2-wrapper{
  height: 900px;
  width: 85%;
}
.announcement-h3{
  font-size: 0.9em;
}
.announcementCard-waterMark{
  height: 15%;
}
}
/* MainHome runner1 */
