.depHeader-wrapper{
     width: 100%;
     min-height: 100%;
     max-height: max-content;
     /* background-color: tomato; */
     font-size: 1em;
}
.depHeader-wrapper{
     width: 100%;
     height: max-content;
     /* background-color: cornsilk; */
}
.depHeader-headingDiv{
     height: 50px;
     /* background-color: springgreen; */
     display: flex;
     justify-content: center;
     align-items: center;
     border-bottom: 1px solid black;
}
.deptHeader-h3{
     font-family: sans-serif;
}
.deptHeader-body{
     width: 100%;
     height: max-content;
}
.deptHeader-ul{
     width: 100%;
     height: max-content;
     display: flex;
     flex-direction: column;
     /* background-color: darkgoldenrod; */
     gap: 2px;
}
.dptheaderCardGen-li{
     width: 100%;
     height: max-content;
     list-style: none;
     font-weight: bold;
     /* background-color: yellow; */
}
.deptHeaderc1-link{
     width: 100%;
     height: max-content;
     text-decoration: none;
}
.deptHeaderc1-linkWrapper{
     width: 100%;
     height: 50px;
     display: flex;
}
.deptHeaderc1-linkWrapper:hover{
background-color: rgb(234, 234, 240);
}
.deptHeaderc1-iconDiv{
     width: 20%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     /* background-color: chartreuse; */
}
.deptHeaderc1-icon{
     max-width: 100%;
     max-height: 100%;
     color: rgb(82, 81, 81);
}
.deptHeaderc3-droper{
     position: relative;
     /* background-color: red; */
}
.deptHeaderc3-droper::after{
     content: '\25BC';
     position: absolute;
     right: 5%;
     transition: 0.9s;
}
.deptHeaderc1-nameDiv{
     width: 80%;
     height: 100%;
     display: flex;
     align-items: center;
}
.deptHeaderc1-pz{
    font-size: 1em;
    font-family: sans-serif;
    color: rgb(93, 92, 92);
    font-weight: bold;
}
.deptHeaderc2-dropDownDiv-wrapper{
     display: none;
}
.deptHeaderc2-dpHolder:has(.deptHeaderc2-input:checked) 
.deptHeaderc3-droper::after{
     transform: rotate(180deg);
     transition: 0.2s;
}
.deptHeaderc2-dpHolder:has(.deptHeaderc2-input:checked) 
.deptHeaderc2-dropDownDiv-wrapper{
     display: block;
}
.deptHeaderc2-input{
     display: none;
}
.dptheaderCardGen-li:has(.deptHeaderc2-input:checked){
     border-top: 1px solid rgb(210, 208, 208);
     border-bottom: 1px solid rgb(210, 208, 208);
}