.approval-wrapper {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.approval-contentDiv {
  width: 98%;
}
.approval-h2 {
  color: #e67e22;
  font-family: sans-serif;
  margin: 0 2%;
  white-space: normal;
}
.approval-headingDiv {
  height: 60px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}
.approval-body {
/* background-color: hotpink; */
  margin: 20px 0;
  padding: 10px 0;
  width: 100%;
}
.approval-body-inner {
  height: max-content;
  width: 99%;
  margin: 0 0.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0px;
}
/* apcard */

.apcard-wrapper {
  background-color: white;
  position: relative;
  width: 500px;
  height: max-content;
  border-radius: 20px;
}
.apcard-inter {
  position: relative;
  padding: 15px 10px;
  width: 100%;
  height: max-content;
  display: flex;
  gap: 15px;
  border-radius: 20px;
  border: 1px solid rgb(159, 159, 159);
  box-shadow: 0 0 5px black;
  overflow: hidden;
}
.apcard-inter:hover{
  box-shadow: 0 0 3px black inset;
  border: 1px solid black;
  cursor: pointer;
  background-color: rgb(255, 246, 246);
}
.apcard-inter::after{
  content: '\25BC';
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
}
.apcard-img-wrapper {
  width: 65px;
  height: 63px;
  overflow: hidden;
}
.apcard-interlable {
  width: 100%;
}
.apcard-img{
  width: 100%;
  height: 100%;
}
.apcard-title-wrapper{
  flex: 1;
  padding-right: 80px;
  display: flex;
  align-items: center;
}
.apcard-info-input{
  display: none;
}
.apcard-wrapper:has(.apcard-info-input:checked) .apcard-inter::after{
  transform: rotate(180deg);
  top: 35%;
  transition: 0.3s;
}
.apcard-wrapper:has(.apcard-info-input:checked){
  box-shadow: 0 0 10px black;
}
.apcard-body{
  width: 100%;
  height: max-content;
  transition: 0.5s;
  font-size: 0em;
}
.apcard-ul{
  width: 100%;
  height: max-content;
  padding: 0 30px;
}
.apcard-link{
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.apcard-link:hover{
  color: royalblue;
}
.apcard-li{
  margin: 10px 0;
}
.apcard-wrapper:has(.apcard-info-input:checked) .apcard-body{
  font-size: 1em;
  padding: 20px 10px;
}
@media (max-device-width: 1100px), (width<1100px) {
  .apcard-wrapper {
    width: 95vw;
  }
  .apcard-title-wrapper{
  padding-right: 40px;
  }
.approval-body-inner {
columns: 1;
}
}
