.management-head h2 {
  font-size: 24px;
  font-family: sans-serif;
  margin: 0px 0px 7px;
  padding: 24px 0px 0px 40px;
  color: #ffa500;
  text-transform: uppercase;
  text-align: left;
}

.management-head hr {
  border: 0;
  height: 1px;
  margin: 14px 16px;
  background-color: lightgray;
}

.management-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.management-body {
  max-width: 1137px;
  padding: 24px;
  font-size: 15px;
  font-weight: 500;
}

.management-contents {
  display: flex;
  align-items: center;
  text-align: justify;
}

.mng-cnt-abt {
  padding: 0px 16px;
}

.mng-cnt-abt p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 24px;
  margin-bottom: 16px;
}

.mng-cnt-img {
  margin: 8px;
  padding-right: 28px;
}

.mng-cnt-img .mng-profile {
  height: auto;
  width: 300px;
  display: grid;
  object-fit: cover;
  border-radius: 5px;
  place-content: center;
  object-position: center center;
}

.mng-cnt-img .mng-profile-flex {
  height: 270px;
  display: grid;
  max-width: 100%;
  object-fit: contain;
  place-content: center;
  object-position: center center;
}

.mng-cnt-img .mng-profile-name {
  font-size: 18px;
  color: #0000ff;
  font-weight: 600 !important;
  margin: 16px 0px 0px;
  text-align: center;
  letter-spacing: inherit !important;
  /* white-space: nowrap; */
  font-family: Montserrat, sans-serif !important;
}

.mng-cnt-img h4 {
  font-size: 18px;
  color: #ff8c00;
  font-family: Roboto, sans-serif !important;
  margin: 0px 0px 7px;
  padding: 5px;
  text-align: center;
}

.mng-quote {
  font-size: 16px;
  color: #0000ff;
}

a {
  text-decoration: none;
  color: #1976d2;
  font-size: 16px;
  font-family: Montserrat, sans-serif !important;
}

a:hover {
  color: #007bff;
  text-decoration: underline;
}

@media only screen and (max-width: 960px) {
  .management-contents {
    flex-direction: column;
  }

  .management-body {
    max-width: calc(720px - 48px);
  }

  .mng-cnt-img {
    padding: 0;
  }
}

@media only screen and (max-width: 720px) {
  .management-body {
    max-width: calc(540px - 48px);
  }
}
