.skctmedia-wrapper {
  /* background-color: yellow; */
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.skctmedia-contentdiv {
  width: 98%;
  height: max-content;
  /* background-color: darkcyan; */
}
.skctmedia-headerDiv {
  height: 60px;
  /* background-color: khaki; */
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid gray;
}
.skctmedia-h2 {
  color: #e67e22;
  font-family: sans-serif;
}
.skctmedia-body {
  width: 100%;
  height: fit-content;
  /* background-color: thistle; */
}
.skctmedia-bodyNav {
  height: 30px;
  /* background-color: springgreen; */
  display: flex;
  justify-content: right;
  align-items: center;
}
.skctmedia-driverLink {
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: slateblue;
}
.skctmedia-actBody {
  width: 100%;
  /* background-color: forestgreen; */
  height: fit-content;
  display: flex;
  justify-content: center;
}
.skctmedia-actBody-inner{
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
}
.mediaCard-wrapper {
  width: 15vw;
  height: 35vh;
  /* background-color: red; */
  border-bottom: 2px solid grey;
  transition: 0.5s;
}
.mediaCard-wrapper:hover{
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(254, 255, 255, 0.591);
  /* box-shadow: 0 0 10px black inset; */
  font-weight: bolder;
  transition: 0.2s;
  animation: jump 0.5s;
}
@keyframes jump{
  100%{
    transform: scale(1.03);
  }
}
.mediaCard-imgDiv{
  height: 75%;
  position: relative;
  /* background-color: darkmagenta; */
}
.mediaCard-img{
  max-width: 100%;
  min-width: auto;
  height: 100%;
  position: absolute;
  inset: 0;
  margin: auto;
}
.mediaCard-textDiv{
  height: 25%;
  /* background-color: darkolivegreen; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.mediaCard-p{
  text-align: center;
  color: slateblue;
  font-family: sans-serif;
}
.mediaCard-wrapper:hover .mediaCard-p{
  color: black;
}
.skctmedia-actbody-hoverdiv{
  position: fixed;
  width: 500px;
  height: 550px;
  left: 50%;
  top: 0;
  transform: translate(-50%,30%);
  background-color: rgba(255, 254, 254, 0.262);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.media-hoverdiv-close{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 10px;
  position: absolute;
  top: 0;
}
.skctMedia-hover-body{
 flex: 1;
 width: 100%;
 height: 100%;
 /* background-color: aqua; */
}
.skctMedia-hover-imgDiv{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.skctMedia-hover-img{
  max-width: 100%;
  max-height: 100%;
}
.skctMedia-hoverDiv-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  top: 0;
  left: 0;
}
@media (max-device-width: 1100px),(width<1100px) {
  .skctmedia-actBody-inner {
    grid-template-columns: 1fr;
  }
  .mediaCard-wrapper {
     width: 70vw;
     height: 40vh;
  }

.mediaCard-wrapper:hover{
  cursor: pointer;
  z-index: 0;
  border-radius: 0px;
  overflow: hidden;
  background-color: rgba(254, 255, 255, 0.591);
  /* box-shadow: 0 0 10px black inset; */
  font-weight: bolder;
}
.skctmedia-actbody-hoverdiv{
  width: 90%;
  height: 70%;
}
}
